<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714446733377-9qork0ojqt6pil87gudeggh69s4t6m9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714446733377-9qork0ojqt6pil87gudeggh69s4t6m9d</string>
	<key>API_KEY</key>
	<string>AIzaSyD1Xjrc2FeGfv4f8c_McXjs-onyRgqnyJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>714446733377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yogify</string>
	<key>PROJECT_ID</key>
	<string>project-94f02</string>
	<key>STORAGE_BUCKET</key>
	<string>project-94f02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714446733377:ios:a5aefb45ffd51cf271c6c0</string>
	<key>DATABASE_URL</key>
	<string>https://project-94f02-default-rtdb.firebaseio.com</string>
</dict>
</plist>